## Diccionario sobre la informacion de marte

In [1]:
planet = {
    'name' : 'Mars',
    'moons' : '2'

}

## Recuperando informacion del diccionario

In [9]:
print(planet["name"], "tiene",planet["moons"],"lunas")

Mars tiene 2 lunas

## Actualizando claves existentes

In [10]:
planet['circunferencia(km)'] = {
    'polar' : 6752,
    'equatorial' : 6792
}

## Imprimiendo nombre con circunferencia polar

In [14]:
print(planet["name"], "tiene una circunferencia polar de",planet["circunferencia(km)"]["polar"])

Mars tiene una circunferencia polar de 6752

## Calculo de valores

In [15]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [16]:
#Recuperando claves y valores
moons = planet_moons.values()

planets = len(planet_moons.keys())

## Obteniendo el numero de lunas

In [17]:
total_moons = 0

for moon in moons:
    total_moons = total_moons + moon 

prom_lunas = total_moons/planets

print("Numero total de lunas:",total_moons)
print("Promedio de lunas por planeta:",prom_lunas)

Numero total de lunas: 214
Promedio de lunas por planeta: 17.833333333333332